/**
Title: security-question-list.component.css
Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/19/23
Last Modified by: Carl Logan
Last Modification Date: 04/19/23
Description: component styling for the bcrs project
*/
