<!--
  Title: service-details.component.html
  Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 04/19/23
  Last Modified by: Walter McCue
  Last Modification Date: 04/19/23
  Description: html for the bcrs project
-->

<div fxLayout="column">

  <!-- Page Header -->
  <div fxFlex>
    <h1 class="page-header">
      Update Service Form <br />
      <span class="subtitle">
        Fields marked with an asterisk(*) are required.
      </span>
    </h1>
  </div>

  <div class="messages">
    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
  </div>

  <mat-card class="mat-elevation-z0 card-form">

    <!-- Create Service Form -->
    <form [formGroup]="updateForm" (ngSubmit)="save(); updateForm.reset();">
      <mat-card-content>
        <div>
          <mat-form-field appearance="fill" class="w-60">
            <mat-label>Service Name</mat-label>
            <input type="text" matInput formControlName="serviceName" required placeholder="Enter a service name..." /><br />
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-30">
            <mat-label>Service Price</mat-label>
            <input type="text" matInput formControlName="price" required placeholder="Enter a price..." />
          </mat-form-field>

          <!-- Service Name Validation Errors -->
          <mat-error *ngIf="updateForm.controls['serviceName'].hasError('required') && updateForm.controls['serviceName'].touched">
            Service Name is a required field.
          </mat-error>
          <mat-error *ngIf="updateForm.controls['serviceName'].hasError('minlength') && updateForm.controls['serviceName'].touched">
            Service Name must be at least 3 characters.
          </mat-error>
          <mat-error *ngIf="updateForm.controls['serviceName'].hasError('maxlength') && updateForm.controls['serviceName'].touched">
            Service Name must be less than 50 characters.
          </mat-error>

          <!-- Price Validation Errors -->
          <mat-error *ngIf="updateForm.controls['price'].hasError('required') && updateForm.controls['price'].touched">
            Price is a required field.
          </mat-error>
          <mat-error *ngIf="updateForm.controls['price'].hasError('pattern') && updateForm.controls['price'].touched">
            Price must be a number up to 2 decimal places.
          </mat-error>
          <mat-error *ngIf="updateForm.controls['price'].hasError('maxlength') && updateForm.controls['price'].touched">
            We cannot charge our customers that. Please adjust the price to a more affordable level (under 8 characters).
          </mat-error>

        </div>
      </mat-card-content>

      <!-- Cancel and Submit buttons -->
      <mat-card-actions class="p-10" align="end">
        <button mat-raised-button (click)="cancel()" class="cancel form-button">Cancel</button>
        <button mat-raised-button (click)="save()" class="primary-color form-button">Save</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
