<!--
  Title: roles-list.component.html
  Authors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 05/01/23
  Last Modified by: Thomas Schultz
  Last Modification Date: 05/03/23
  Description: html for the bcrs project
-->

<!-- roles list page -->
<div fxLayout="column">

  <div fxFlex>
    <h1 class="page-header">
      Role Configuration Page! <br />
      <span class="subtitle">
        Fields marked with an asterisk(*) are required.
      </span>
    </h1>
  </div>

  <!-- error message from server -->
  <div class="messages">
    <p-messages [(value)]="serverMessages" [enableService]="false"></p-messages>
  </div>

  <div fxFlex>
    <mat-card class="card-form">
      <!-- add role to list -->
      <form [formGroup]="roleForm" (ngSubmit)="create(); roleForm.reset()">
        <mat-form-field appearance="fill" class="w-60">
          <mat-label>Role</mat-label>
          <input type="text" matInput formControlName="text" required placeholder="Enter a role..." />
        </mat-form-field>

        <button mat-button type="submit" [disabled]="!roleForm.valid" class="primary-color form-button">
          Add Role
        </button>


        <mat-error *ngIf="roleForm.controls['text'].hasError('required') && roleForm.controls['text'].touched">
          Role is a required field.
        </mat-error>

      </form>
    </mat-card>
  </div><br />

  <!-- roles that users can have. full list appears here -->
  <div fxFlex>
    <mat-card class="card-form">
      <p-table [value]="roles" responsiveLayout="scroll" class="api-table">
        <ng-template pTemplate="header">
          <tr>
            <th>Roles
            </th>
            <th width='200px'></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-role>
          <tr>
            <td>{{ role.text }}</td>
            <td class="api-buttons">
              <!-- edit and delete buttons. edit takes you to roles details page -->
              <button mat-button type="button" routerLink="/roles/{{ role._id }}"><i
                  class="fa-solid fa-pen-to-square"></i></button>
              <button mat-button type="button" (click)="delete(role._id)"><i class="fa-regular fa-trash-can"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </mat-card>
  </div>
</div>
