

<div fxLayout="column">

  <div fxFlex>
    <h1 class="page-header">
      Forgot Password<br />
      <span class="subtitle">
        Fields marked with an asterisk (*) are required.
      </span>
    </h1>
  </div>

  <div class="messages">
    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
  </div>

  <div>
    <mat-card class="mat-elevation-z4 card-30">

      <h2>Verify Security Questions</h2>
      <form
        *ngIf="selectedSecurityQuestions"
        [formGroup]="form"
        (ngSubmit)="VerifySecurityQuestions()"
        #usernameForm
      >
        <mat-card-content class="form-fields">
          <mat-form-field fxFlex appearance="fill">
            <mat-label>{{ verifySecurityQuestionsModel.question1 }}</mat-label>
            <input
              matInput
              required
              formControlName="answerToSecurityQuestion1"
            />

            <mat-error
              class="error"
              *ngIf="
                form.controls['answerToSecurityQuestion1'].hasError(
                  'required'
                ) && form.controls['answerToSecurityQuestion1'].touched
              "
              >Required Field</mat-error
            >
          </mat-form-field>

          <mat-form-field fxFlex appearance="fill">
            <mat-label>{{ verifySecurityQuestionsModel.question2 }}</mat-label>
            <input
              matInput
              required
              formControlName="answerToSecurityQuestion2"
            />

            <mat-error
              class="error"
              *ngIf="
                form.controls['answerToSecurityQuestion2'].hasError(
                  'required'
                ) && form.controls['answerToSecurityQuestion2'].touched
              "
              >Required Field</mat-error
            >
          </mat-form-field>

          <mat-form-field fxFlex appearance="fill">
            <mat-label>{{ verifySecurityQuestionsModel.question3 }}</mat-label>
            <input
              matInput
              required
              formControlName="answerToSecurityQuestion3"
            />

            <mat-error
              class="error"
              *ngIf="
                form.controls['answerToSecurityQuestion3'].hasError(
                  'required'
                ) && form.controls['answerToSecurityQuestion3'].touched
              "
              >Required Field</mat-error
            >
          </mat-form-field>

          <br />
          <br />
          <br />

          <div fxFlex fxLayoutAlign="end" class="p5">
            <button
              mat-raised-button
              routerLink="/session/login"
              class="cancel form-button"
            >
              Cancel
            </button>
            <button mat-raised-button [disabled]="!form.valid" class="primary-color form-button">
              Confirm
            </button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
