<!--
  Title: not-found.component.html
  Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 04/16/23
  Last Modified by: Walter McCue
  Last Modification Date: 04/16/23
  Description: html for the bcrs project
-->

<h1 class="page-header">404 Error Page Not Found</h1>

<div fxLayout="column">

  <!-- Not Found Image -->
  <div class="img-container house-img">
    <img src="/assets/pngwing.com.png" alt="Slytherin Emblem" />
  </div>

  <br><br>

  <!-- Go Home Text -->
  <div class="text-center">
    <p>
      Please return to the application: <a routerLink="/" class="neon-btn">Return</a>
    </p>
  </div>

</div>
