<p-confirmDialog
  [style]="{ width: '35vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<div fxLayout="column" fxLayoutGap="20px">
  <div fxFlex>
    <h1 class="page-header">
      Users Configuration Page!<br />
      <span class="subtitle">
        To add a new record select the Add User button.
      </span>
    </h1>
  </div>

  <!-- Add User Button -->
  <div fxFlex class="text-center">
    <a routerLink="/user-create" class="neon-btn">Add User</a>
  </div>

  <div>
    <p-messages [(value)]="serverMessages" [enableService]="false" style="color: #fff;"></p-messages>
  </div>

  <!-- Table Data -->
  <div fxFlex class="p-20">
    <mat-card>
      <p-table [value]="users" responsiveLayout="scroll" class="api-table">
        <ng-template pTemplate="header">
          <tr>
            <th>First Name</th>
            <th>Last Named</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Address</th>
            <th style="width: 8rem"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
          <tr>
            <td data-cell="first name">{{ user.firstName }}</td>
            <td data-cell="last name">{{ user.lastName }}</td>
            <td data-cell="phone number">{{ user.phoneNumber }}</td>
            <td data-cell="email">{{ user.email }}</td>
            <td data-cell="address">{{ user.address }}</td>
            <td style="text-align: center">
              <button
                mat-button
                type="button"
                routerLink="/users/{{ user._id }}">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button
                mat-button
                type="button"
                (click)="delete(user._id)">
                <i class="fa-regular fa-trash-can"></i>
            </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </mat-card>
  </div>
</div>
