<mat-toolbar>
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <div>
      <p>
        Bob's Computer Repair Shop <br /><br /><br />
      </p>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>

<br /><br /><br />

<div fxLayout="row-wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">
    <br /><br />

    <mat-card class="mat-elevation-z4 card-container">
      <mat-card-title>
        <h1>Forgot Password <br />
          <span class="subtitle">
            Fields marked with an asterisk (*) are required.
          </span>
        </h1>
      </mat-card-title>

      <br /><br />

      <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

      <form [formGroup]="form" (ngSubmit)="verifyUser()" #usernameForm>
        <mat-card-content fxLayout="column">
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Username</mat-label>

            <input matInput required formControlName="username" />

            <mat-error class="error"
              *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched">
              Username is a required field.
            </mat-error>
          </mat-form-field>

          <br /><br />

          <div fxFlex fxLayoutAlign="end" class="p5">
            <button mat-raised-button routerLink="/session/login" class="cancel form-button">Cancel</button> &nbsp;&nbsp;
            <button mat-raised-button [disabled]="!form.valid" class="primary-color form-button">Forgot Password</button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
