/**
Title: forgot-password.component.css
Author: Richard Krasso
Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/26/23
Last Modified by: Thomas Schultz
Last Modification Date: 04/29/23
Description: component styling for the bcrs project
*/
