<!--
  Title: forgot-password.component.html
  Author: Richard Krasso
  Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 04/26/23
  Last Modified by: Thomas Schultz
  Last Modification Date: 04/29/23
  Description: html for the bcrs project
-->


<div fxLayout="column">

  <div fxFlex>
    <!-- Page Header -->
    <h1 class="page-header">
      Forgot Password<br />
      <span class="subtitle">
        Fields marked with an asterisk (*) are required.
      </span>
    </h1>
  </div>
  <div class="messages">
    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
  </div>
  <!-- Enter username form -->
  <div fxFlex.gt-sm="55" fxFlex="100">

    <mat-card class="mat-elevation-z4 card-30">
      <h2>Enter Username</h2>
      <!-- form -->
      <form [formGroup]="form" (ngSubmit)="verifyUser()" #usernameForm>
        <mat-card-content fxLayout="column">
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Username</mat-label>

            <input matInput required formControlName="username" />
            <!-- can't continue unless username is entered. -->
            <mat-error class="error"
              *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched">
              Username is a required field.
            </mat-error>
          </mat-form-field>

          <br /><br />
          <!-- cancel and submit button -->
          <div fxFlex fxLayoutAlign="end" class="p5">
            <button mat-raised-button routerLink="/session/login" class="cancel form-button">Cancel</button>
            &nbsp;&nbsp;
            <button mat-raised-button [disabled]="!form.valid" class="primary-color form-button">Forgot
              Password</button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
  </div>
</div>
