<!--
  Title: roles-details.component.html
  Authors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 05/01/23
  Last Modified by: Thomas Schultz
  Last Modification Date: 05/03/23
  Description: html for the bcrs project
-->
<!-- update role page -->
<div fxLayout="column">
  <div fxFlex>
    <h1 class="page-header">
      Update Role Form<br />
      <span class="subtitle">
        Fields marked with an asterisk(*) are required.
      </span>
    </h1>
  </div>
  <!-- error messages -->
  <div class="messages">
    <p-messages [(value)]="errorMessage" [enableService]="false"></p-messages>
  </div>

  <mat-card class="mat-elevation-z8 card-form">


    <!-- update role form -->
    <form [formGroup]="editForm" (ngSubmit)="save(); editForm.reset()">
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Role</mat-label>
            <input type="text" matInput formControlName="text" required />

            <mat-error class="errors" *ngIf="
                editForm.controls['text'].hasError('required') &&
                editForm.controls['text'].touched
              ">
              Role is a required field.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <br />
      <!-- cancel and save buttons -->
      <mat-card-actions align="end">
        <button mat-raised-button (click)="cancel()" class="cancel form-button">
          Cancel
        </button>
        <button mat-raised-button (click)=" save()" class="primary-color form-button">
          Save
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
