/**
Title: roles-details.component.css
Authors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 05/01/23
Last Modified by: Walter McCue
Last Modification Date: 05/01/23
Description: component styling for the bcrs project
*/
