<!--
  Title: reset-password.component.html
  Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 04/26/23
  Last Modified by: Walter McCue
  Last Modification Date: 04/26/23
  Description: html for the bcrs project
-->

<div fxLayout="column">

  <div fxFlex>
    <h1 class="page-header">
      Forgot Password<br />
      <span class="subtitle">
        Fields marked with an asterisk (*) are required.
      </span>
    </h1>
  </div>

  <div fxFlex.gt-sm="55" fxFlex="100">

    <mat-card class="card-30 mat-elevation-z4">

      <h2>Enter a new password</h2>

      <form
        [formGroup]="form"
        (ngSubmit)="updatePassword()"
        #resetPasswordForm
      >
        <mat-card-content fxLayout="column">

          <mat-form-field appearance="fill">
            <mat-label>Reset password</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Password"
              required
            />

            <!-- Error handling-->
            <mat-error
              *ngIf="
                form.controls['password'].hasError('required') &&
                form.controls['password'].touched
              "
            >
              Password is a required field.
            </mat-error>

            <mat-error
              *ngIf="
                form.controls['password'].hasError('pattern') &&
                form.controls['password'].touched
              "
            >
              Password must be at least 8 characters, contain one letter, and
              one number.
            </mat-error>
          </mat-form-field>

          <br /><br />

          <div fxFlex fxLayoutAlign="end" class="p5">
            <button mat-raised-button routerLink="/session/login" class="cancel form-button">
              Cancel
            </button> &nbsp;&nbsp;
            <button mat-raised-button [disabled]="!form.valid" class="primary-color form-button">
              Submit
            </button>
          </div>

        </mat-card-content>

      </form>

    </mat-card>

  </div>
</div>






