

<mat-toolbar color="primary" style="border-bottom: 15px solid var(--green)">
  <mat-toolbar-row></mat-toolbar-row>
  <mat-toolbar-row>
    <div class="layout-header-container">
      <p id="large-text" class="layout-header-text comic-text">
        Bob's Computer Repair Shop <br /><br /><br />
      </p>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br /><br /><br />

<div fxLayout="row wrap" fxLayoutAlign="center start">
  <div fxFlex.gt-sm="55" fxFlex="100">

    <br /><br />

    <mat-card class="card-container mat-elevation-z4">

      <mat-card-title>
        <h1 class="title">
          Forgot Password<br />
          <span class="subtitle">
            Fields marked with an (*) are required.
          </span>
        </h1>
      </mat-card-title>

      <br /><br />

      <form
        [formGroup]="form"
        (ngSubmit)="updatePassword()"
        #resetPasswordForm
      >
        <mat-card-content fxLayout="column">

          <mat-form-field appearance="fill">
            <mat-label>Reset password</mat-label>
            <input
              matInput
              type="password"
              formControlName="password"
              placeholder="Password"
              required
            />

            <!-- Error handling-->
            <mat-error
              *ngIf="
                form.controls['password'].hasError('required') &&
                form.controls['password'].touched
              "
            >
              Password is a required field.
            </mat-error>

            <mat-error
              *ngIf="
                form.controls['password'].hasError('pattern') &&
                form.controls['password'].touched
              "
            >
              Password must be at least 8 characters, contain one letter, and
              one number.
            </mat-error>
          </mat-form-field>

          <br /><br />

          <div fxFlex fxLayoutAlign="end" class="p5">
            <button mat-raised-button routerLink="/session/login" class="cancel form-button">
              Cancel
            </button> &nbsp;&nbsp;
            <button mat-raised-button [disabled]="!form.valid" class="primary-color form-button">
              Submit
            </button>
          </div>

        </mat-card-content>

      </form>

    </mat-card>

  </div>
</div>






