<!--
  Title: user-create.component.html
  Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 04/19/23
  Last Modified by: Jamal Damir
  Last Modification Date: 04/19/23
  Description: html for the bcrs project
-->

<div fxLayout="column">
  <mat-card class="mat-elevation-z0">
    <div class="header">
      <mat-card-title style="text-align: center">
        Create User Form
      </mat-card-title>

      <mat-card-subtitle style="text-align: center"
        >Field marked with an asterisk (*) are required.</mat-card-subtitle
      >
    </div>

    <br />
    <!-- Displaying success and error messages -->
    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
    <!-- User creation form-->
    <form
      [formGroup]="form"
      (ngSubmit)="createUser()"
      (keydown.enter)="$event.preventDefault()"
      autocomplete="off"
    >
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <div class="smaller-inputs">
            <!-- First Name -->
            <mat-form-field appearance="outline">
              <mat-label>First name</mat-label>
              <input
                type="text"
                matInput
                formControlName="firstName"
                required
              />
              <!-- Error handling -->
              <mat-error
                *ngIf="
                  form.controls['firstName'].hasError('required') &&
                  form.controls['firstName'].touched
                "
                >First name is a required field.</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['firstName'].hasError('minlength') &&
                  form.controls['firstName'].touched
                "
                >First Name must be at least 3 characters.</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['firstName'].hasError('maxlength') &&
                  form.controls['firstName'].touched
                "
                >First Name must be less than 35 characters.</mat-error
              >
            </mat-form-field>
            <!-- Last Name -->
            <mat-form-field appearance="outline">
              <mat-label>Last name</mat-label>
              <input type="text" matInput formControlName="lastName" required />
              <!-- Error handling -->
              <mat-error
                *ngIf="
                  form.controls['lastName'].hasError('required') &&
                  form.controls['lastName'].touched
                "
                >Last name is a required field.</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['lastName'].hasError('minlength') &&
                  form.controls['lastName'].touched
                "
                >Last Name must be at least 3 characters.</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['lastName'].hasError('maxlength') &&
                  form.controls['lastName'].touched
                "
                >Last Name must be less than 35 characters.</mat-error
              >
            </mat-form-field>
          </div>

          <div class="smaller-inputs">
            <!-- Phone Number -->
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input
                type="text"
                matInput
                formControlName="phoneNumber"
                required
              />
              <!-- Error handling -->
              <mat-error
                *ngIf="
                  form.controls['phoneNumber'].hasError('required') &&
                  form.controls['phoneNumber'].touched
                "
                >Phone number is a required field.</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['phoneNumber'].hasError('pattern') &&
                  form.controls['phoneNumber'].touched
                "
                >Phone number must be formatted as 999-999-9999.</mat-error
              >
            </mat-form-field>
            <!-- Email Address -->
            <mat-form-field appearance="outline">
              <mat-label>Email address</mat-label>
              <input type="text" matInput formControlName="email" required />
              <!-- Error handling -->
              <mat-error
                *ngIf="
                  form.controls['email'].hasError('required') &&
                  form.controls['email'].touched
                "
                >Email address is a required field.</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['email'].hasError('email') &&
                  form.controls['email'].touched
                "
                >Invalid email format.</mat-error
              >
            </mat-form-field>
          </div>

          <!-- Address -->

          <mat-form-field class="address" appearance="outline">
            <mat-label>Address</mat-label>

            <input
              type="text"
              matInput
              formControlName="address"
              required
              placeholder="28201 E. Bonanza st. South Park, Colorado 15129"
            />
            <!-- Error handling -->
            <mat-error
              *ngIf="
                form.controls['email'].hasError('required') &&
                form.controls['email'].touched
              "
              >Address is a required field.</mat-error
            >
          </mat-form-field>

          <hr />
          <div class="smaller-inputs" id="username-password">
            <!-- Username -->
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input
                type="text"
                matInput
                formControlName="userName"
                required
              />
              <!-- Error handling -->
              <mat-error
                *ngIf="
                  form.controls['userName'].hasError('required') &&
                  form.controls['userName'].touched
                "
                >Username is a required field.</mat-error
              >
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                required
                autocomplete="new-password"
              />
              <!-- Error handling -->
              <mat-error
                *ngIf="
                  form.controls['password'].hasError('required') &&
                  form.controls['password'].touched
                "
                >Password is a required field.</mat-error
              >
              <mat-error
                *ngIf="
                  form.controls['password'].hasError('pattern') &&
                  form.controls['password'].touched
                "
                >Password must be at least 8 characters, contain one letter, and
                one number.</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <!-- Form submission and cancel buttons-->
      <mat-card-actions>
        <div class="w-100">
          <button mat-raised-button (click)="cancel()" class="cancel">
            Cancel
          </button>
          <button mat-raised-button [disabled]="!form.valid" class="primary-color">
            Submit
          </button>
      </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
