/**
Title: service-list.component.css
Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/19/23
Last Modified by: Walter McCue
Last Modification Date: 04/19/23
Description: component styling for the bcrs project
*/

.w-30 {
  width: 30%;
  margin-inline: 20px;
}

.w-50 {
  width: 50%;
  margin-inline: 20px;
}


