<!--
  Title: about.component.html
  Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 04/16/23
  Last Modified by: Walter McCue
  Last Modification Date: 04/16/23
  Description: html for the bcrs project
-->

<h1 class="page-header">About Us</h1>

<mat-card>

  <div fxLayout>

    <div fxFlex class="flex-container">

      <!-- About Us Info -->
      <div class="content-container">
        <p>
          House Slytherin is proud to introduce Bob's Computer Repair Shop. This website was built using the latest
          technology in web development both the wizarding and muggle community. This website allows users to select
          service they want, print an invoice, update user information, update security questions, update services, and
          also delete any unwanted information. This website is secured from any unwanted guests.
        </p>
        <h1>Owners</h1>
        <p>
          The four owners include Thomas Schultz, Jamal Damir, Carl Logan, and Walter McCue. All four of them graduated
          from Hogwarts School of Witchcraft and Wizardry. They were all in Slytherin House. They became good friends in
          their first year and started working on helping both the wizard world and muggle world. They are proud of this
          website and hope to help more.
        </p>
        <p>
          Their house master, Professor Krasso who teaches Defenses Against The Dark Web classes at Hogwarts, appointed
          them on this task to build a fully functional website that focuses on everything from APIs, security, user
          interface, and mobility. He hopes all four of them success in their near future.
        </p>
      </div>

      <!-- House Slytherin Image -->
      <div class="content-container">
        <div class="img-container house-img">
          <img src="/assets/pngwing.com.png" alt="Slytherin Emblem" />
        </div>
      </div>

    </div>

  </div>

</mat-card>
