/**
Title: login.component.css
Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/16/23
Last Modified by: Jamal Damir
Last Modification Date: 04/18/23
Description: component styling for the bcrs project
*/

/* Import fonts*/
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Carter+One&family=Kanit:wght@300&display=swap");


.login-container {
  margin: auto;
  text-align: center;
  padding: 20px;
}

.header {
  justify-content: center;
  align-items: center;
  height: 100px;
  background-image: linear-gradient(to bottom, rgb(19, 19, 19), rgb(66,66,66));
}

.login-title {
  font-size: 30px;
  margin-top: 20px;
  font-family: "Abril Fatface", cursive;
  color: var(--green);
}

hr {
  width: 100%;
  margin-bottom: 20px;
}
.mat-card {
  margin-top: 50px;
  padding: 20px;
}

.mat-card-content {
  text-align: center;
}

.mat-form-field {
  width: 60%;
}

.mat-card-actions {
  margin-right: 20%;
  margin-bottom: 50px;
}

button {
  font-size: 18px;
  font-weight: 700;
  float: right;
  width: 25%;
  background-color: var(--green);
  color: black;
}

.btn:disabled {
  background-color: transparent;
  color: #fff;

}

input {
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;
}

.create-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25%;
  margin-bottom: 30px;
}



.error-message {
  background-color: red;
}
