<!--
  Title: login.component.html
  Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 04/16/23
  Last Modified by: Jamal Damir
  Last Modification Date: 04/18/23
  Description: html for the bcrs project
-->

<div fxLayout="column">

  <div fxFlex>
    <h1 class="page-header">Employee Login</h1>
  </div>

  <div class="messages">
    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
  </div>

  <mat-card fxFlex class="card-form" style="border-radius: 10px">

    <mat-card-content>

        <!-- Username and password form-->
        <form [formGroup]="loginForm" (ngSubmit)="login(); loginForm.reset()" class="">
          <mat-card-content>
            <mat-form-field appearance="fill">
              <input type="text" matInput formControlName="userName" placeholder="Username" />

              <!-- Error Handling -->
              <mat-error *ngIf="
                  loginForm.controls['userName'].hasError('required') &&
                  loginForm.controls['userName'].touched
                ">
                Username is a required field.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <input matInput type="password" formControlName="password" placeholder="Password" />

              <!-- Error handling-->
              <mat-error *ngIf="
                  loginForm.controls['password'].hasError('required') &&
                  loginForm.controls['password'].touched
                ">
                Password is a required field.
              </mat-error>

              <mat-error *ngIf="
                  loginForm.controls['password'].hasError('pattern') &&
                  loginForm.controls['password'].touched
                ">
                Password must be at least 8 characters, contain one letter, and
                one number.
              </mat-error>
            </mat-form-field>
          </mat-card-content>

          <!-- Form submission button-->
          <mat-card-actions>
            <button type="submit" mat-raised-button [disabled]="!loginForm.valid">
              Log in
            </button>
          </mat-card-actions>

        </form>

    </mat-card-content>
  </mat-card>
  <!-- Account creations and password reset anchors-->
  <div class="create-account">
    <a routerLink="/session/forgot-password" class="neon-btn" style="width: 200px;">Forgot Password?</a>
    <a routerLink="/session/register" class="neon-btn" style="width: 200px;">Create Account</a>
  </div>
</div>
