/**
Title: login.component.css
Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/16/23
Last Modified by: Jamal Damir
Last Modification Date: 04/18/23
Description: component styling for the bcrs project
*/

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Carter+One&family=Kanit:wght@300&display=swap");


.login-container {
  margin: auto;
  text-align: center;
}

.header {
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(48, 48, 48);
}

.login-title {
  font-size: 30px;
  margin-top: 20px;
  font-family: "Abril Fatface", cursive;
}

hr {
  width: 100%;
  margin-bottom: 20px;
}
.mat-card {
  margin-top: 50px;
  padding: 0;
}

.mat-card-content {
  text-align: center;
}

.mat-form-field {
  width: 60%;
}

.mat-card-actions {
  margin-right: 145px;
  margin-bottom: 60px;
}

button {
  height: 46px;
  font-family: "Abril Fatface", cursive;
  font-size: 18px;
  font-weight: 700;
  float: right;
  width: 10rem;
  background-color: var(--green);
  color: black;
}

.btn:disabled {
  background-color: transparent;
  color: #fff;
  font-family: "Abril Fatface", cursive;
}

input {
  border-radius: 5px;
  font-family: cursive;
  font-size: 18px;
  padding-left: 10px;
}

.create-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50%;
  margin-bottom: 30px;
}

a {
  color: #fff;
  margin-top: 5%;
}
a:hover {
  cursor: pointer;
  color: var(--green);
}
