/**
Title: profile.component.css
Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/26/23
Last Modified by: Carl Logan
Last Modification Date: 04/27/23
Description: component styling for the bcrs project
*/
