<!--
  Title: purchases-graph.component.html
  Authors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 05/01/23
  Last Modified by: Walter McCue
  Last Modification Date: 05/01/23
  Description: html for the bcrs project
-->

<div fxLayout="column" fxLayoutGap="20px">

  <div fxFlex>
    <h1 class="page-header">
      Welcome to the Purchases by Services Page! <br />
      <span class="subtitle">
        You can hide or show items by selecting their label
      </span>
    </h1>
  </div>

  <div fxFlex>
    <p-chart height="450" width="450" type="pie" [data]="data"></p-chart>
  </div>

</div>
