/**
Title: home.component.css
Author: Richard Krasso
Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/16/23
Last Modified by: Walter McCue
Last Modification Date: 04/16/23
Description: component styling for the bcrs project
*/

.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}
