/**
Title: home.component.css
Author: Richard Krasso
Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/16/23
Last Modified by: Walter McCue
Last Modification Date: 04/16/23
Description: component styling for the bcrs project
*/

.main-welcome {
  margin-top: 30px;
  color: #fff;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

mat-checkbox {
  font-size: 1.5em;
  line-height: 2em;
  border: solid 2px black;
  width: 100%;
  margin-bottom: -2px;
  padding: 0 25px;
}

mat-card-subtitle {
  font-weight: 900;
  font-size: 2.5em;
}

mat-checkbox:hover {
  background-color: rgb(45, 45, 45);
}



.border {
  border: solid 2px black;
  border-radius: 5px;
}

.flex-item {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.service-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}


@media screen and (max-width: 1000px) {

  .flex-item {
    width: 100%;
    padding: 5px;
  }

  .service-container {
    flex-direction: column!important;
    gap: 5px;
  }

}
