<!--
  Title: home.component.html
  Author: Richard Krasso
  Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 04/16/23
  Last Modified by: Walter McCue
  Last Modification Date: 04/16/23
  Description: html for the bcrs project
-->

<!-- Placeholder code until we update it -->
<div fxLayout="column" class="main-welcome">
  <div fxFlex>
    <h1 class="page-header">
      Service Repair Form <br />
    </h1>
  </div>

  <div class="messages">
    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
    <p-messages [(value)]="successMessages" [enableService]="false"></p-messages>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0 card-style">

      <!-- products form -->
      <form [formGroup]="form" #invoiceForm="ngForm" (submit)="generateInvoice();">
        <mat-card-content>
          <!-- fx layout column container -->
          <div fxLayout="column" fxLayoutGap="5px" class="border">

            <!-- Services check boxes -->
            <div fxFlex>

              <mat-card class="mat-elevation-z0">



                <mat-card-subtitle>Services</mat-card-subtitle>

                <div class="service-container">
                  <div  class="w-50">
                    
                    <mat-card-content>
                      <mat-form-field fxFlex appearance="fill">
                        <mat-label>Service</mat-label>
                        <mat-select formControlName="serviceList" required [(ngModel)]="serviceList">
                          <mat-option *ngFor="let product of products"
                            [value]="product"
                          >{{ product.serviceName }} ({{ product.price | currency }})
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </mat-card-content>

                    <mat-card-actions align="end">
                      <button mat-raised-button type="button" [disabled]="!serviceList" class="primary-color form-button" (click)="addToCart()">Add to Cart</button>
                    </mat-card-actions>
                  </div>

                  <mat-card-content class="flex-item">

                    <div>
                      <div class="flex-row">
                        <h2>Your cart:</h2>
                        <button mat-raised-button type="button" class="cancel form-button" (click)="emptyCart()">Empty Cart</button>
                      </div>

                      <p-table [value]="cartItems" responsiveLayout="scroll" class="api-table">

                        <!-- Table Header -->
                        <ng-template pTemplate="header">

                        </ng-template>

                        <!-- Table Body -->
                        <ng-template pTemplate="body" let-cartItems>
                          <tr>
                            <td data-cell="service">{{ cartItems.serviceName }}</td>
                            <td data-cell="price">${{ cartItems.price | number: '1.2' }}</td>
                          </tr>
                        </ng-template>

                      </p-table>

                    </div>
                  </mat-card-content>
                </div>

              </mat-card>


            <br>
            <mat-divider></mat-divider>
            <br>
            </div>
            <!-- end services -->

            <div fxFlex>
              <mat-card class="mat-elevation-z0">
                <mat-card-subtitle>Standard Fees</mat-card-subtitle>

                <mat-card-content>
                  <div class="service-container">
                    <mat-form-field class="flex-item" fxFlex appearance="fill">
                      <mat-label>Parts</mat-label>
                      <input matInput [(ngModel)]="invoice.partsAmount" type="number" formControlName="txtPartsAmount">
                    </mat-form-field>

                    <mat-form-field class="flex-item" fxFlex  appearance="fill">
                      <mat-label>Labor @ 50/hr</mat-label>
                      <input matInput [(ngModel)]="invoice.laborHours" type="number" formControlName="txtLaborHours">
                    </mat-form-field>

                  </div>
                </mat-card-content>

              </mat-card>
            </div>
            <!-- end standard fees section -->
          </div>
          <!-- end fx column container -->
        </mat-card-content>
        <!-- end mat-card content -->

        <br>
        <mat-divider></mat-divider>
        <br>

        <!-- form submission buttons -->
        <mat-card-actions align="end">
          <button mat-raised-button type="reset" class="cancel form-button" (click)="reset()">Cancel</button>
          <button mat-raised-button class="primary-color form-button">Generate Invoice</button>
        </mat-card-actions>
        <!-- end form submission buttons -->
      </form>
      <!-- end form -->
    </mat-card>

  </div>
</div>

