/**
Title: server-error.component.css
Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/16/23
Last Modified by: Walter McCue
Last Modification Date: 04/16/23
Description: component styling for the bcrs project
*/
