<!--
  Title: server-error.component.html
  Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
  Date: 04/16/23
  Last Modified by: Walter McCue
  Last Modification Date: 04/16/23
  Description: html for the bcrs project
-->

<h1 class="page-header">500 Server Error</h1>

<div fxLayout="column">

  <!-- Not Found Image -->
  <div class="img-container">
    <p style="text-align:center;">Insert Image Here</p>
  </div>

  <br><br>

  <!-- Go Home Text -->
  <div class="text-center">
    <p>
      Please return to the application: <a routerLink="/">Return</a>
    </p>
  </div>

</div>
