/**
Title: base-layout.component.css
Author: Richard Krasso
Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/16/23
Last Modified by: Jamal Damir
Last Modification Date: 04/17/23
Description: component styling for the bcrs project
*/

.navbar-container {
  font-weight: bolder;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar-link {
  font-size: 24px;
}

.main-content {
  padding: 100px 30px;

}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer-content {
  bottom: 5px;
  position: fixed;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 100px;
  letter-spacing: 3px;
}

.bu-link {
  text-decoration: none;
  color: #2a623d;
}

.bu-link:hover {
  text-decoration: underline;
}

.house-img {
  text-align: center;
}

.house-img img {
  padding-top: 20px;
  height: 200px;
}

/* Media Queries */

@media screen and (max-width: 800px) {

  .footer-content {
    padding: 0 5px;
    text-align: center;
  }

}
