/**
Title: styles.css
Author: Richard Krasso
Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/16/23
Last Modified by: Walter McCue
Last Modification Date: 04/16/23
Description: Global styling for the bcrs project
References: .neon-btn { Kevin Powell: youtube/github; }
*/

/* You can add global styles to this file, and also import other style files */

:root {
  --green: #2e7d32;
  --silver: #5d5d5d;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #000;
}

.page-header {
  color: #fff;
  text-align: center;
  font-size: 40px!important;
  line-height: 1.25!important;
}

.text-center {
  text-align: center;
}

.subtitle {
  font-size: 24px!important;
}

.p-20 {
  padding: 20px;
}

.form-button {
  margin-inline: 20px!important;
}

/* Width Styles */

.w-50 {
  width: 50%;
}

.w-20 {
  width: 20%;
  margin-inline: 20px;
}

.w-60 {
  width: 60%;
  margin-inline: 20px;
}

/* Color Styles */

.primary-color {
  background-color: var(--green);
  color: #000;
}

.accent-color {
  background-color: var(--silver);
  color: #000;
}

.cancel {
  color: #810116;
  background-color: #fd798f;
}

.gradient-header {
  width: 100%;
  background-image: linear-gradient(var(--silver), #000);
}

.gradient-footer {
  width: 100%;
  background-image: linear-gradient(#000, var(--silver));
  height: 75px;
}

.gradient-menu {
  background-color: #000;
  box-shadow: 0 0 10px 5px var(--silver), inset 0 0 10px 5px var(--silver);
}

/* flex Style */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-container {
  width: 45%;
  margin: 2%;
  justify-items: center;
}

.img-container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
  max-width: 1100px;
}

.formDesign {
  display: flex;
  flex-direction: row;
}

/* Neon Button Styling */

.neon-btn {
  margin: 30px 30px 0 30px;
  background-color: #000;
  color: var(--green);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: var(--green) 4px solid;
  border-radius: 10px;
  padding: 5px;
  text-shadow: 1px 1px 10px var(--green);
  width: 125px;
  text-align: center;
  box-shadow: 0 0 10px 5px var(--green), inset 0 0 10px 5px var(--green);
  position: relative;
}

.neon-btn::before {
  content: "";
  pointer-events: none;
  position: absolute;
  background: var(--green);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(20px) rotateX(40deg) scale(1, 0.35);
  filter: blur(20px);
  opacity: 0.5;
}

.neon-btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  box-shadow: 0 0 20px 10px var(--green);
  opacity: 0.5;
}

.neon-btn:hover,
.neon-btn:focus {
  background: var(--green);
  color: #000;
  text-shadow: none;
  outline: none;
}

.neon-btn:hover::before,
.neon-btn:hover::after,
.neon-btn:focus::before,
.neon-btn:focus::after {
  opacity: 1;
  outline: none;
}

/* API Tables */

.api-table {
  padding: 5px;
}

.api-table th, .api-table td {
  padding: 5px;
  text-align: left;

}

.api-table th {
  background-color: #48494b;
}

.api-table tr:nth-of-type(2n) {
  background-color: #48494b;
}

/* Media Queries */

@media screen and (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .content-container {
    width: 95%;
  }

  .formDesign {
    flex-direction: column;
  }

  /* Width Styles */
  .w-20, .w-50, .w-60 {
    width: 90%;
  }

  /* API Tables */
  .api-table th {
    display: none;
  }
  .api-table td {
    display: grid;
    padding: 3px 5px;
  }
  .api-table td button {
    width: 50px;
  }
  .api-table td::before {
    content: attr(data-cell);
    font-weight: 700;
    text-transform: capitalize;
  }
  .api-table td:first-child {
    padding-top: 10px;
  }
  .api-table td:last-child {
    padding-bottom: 10px;
  }
}
