/**
Title: confirm-dialog.component.css
Author: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Contributors: Thomas Schultz, Jamal Damir, Carl Logan, Walter McCue
Date: 04/16/23
Last Modified by: Walter McCue
Last Modification Date: 04/16/23
Description: component styling for the bcrs project
*/

.dialog-warning {
  color: #fd798f;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000,
  1px -1px 0 #000,
  1px 1px 0 #000,
  -1px 1px 0 #000
  ;
}

.dialog-buttons {
  justify-content: space-between;
}

.cancel {
  color: #810116;
  background-color: #fd798f;
}
